.background {
    width: 1470px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(background2.jpg);
    background-size: cover;
}

.contents {
    width: 550px;
    height: 25px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}

.contact {
    color: greenyellow;
    font-family: Verdana;
    text-align: center;
    position: relative;
    font-size: 300%;
    top: -50px;
}

.info {
    color: white;
    font-family: Times New Roman;
    position: relative;
    top: -70px;
    left: 700;
}

.copyrights{
    width: 1510px;
    height: 20px;
    background-color: pink;
    text-align: center;
    top: -30px;
    left: -20px;
    position: relative;
}