.background {
    width: 1470px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(background\ img1.jpeg);
    background-size: cover;
}

.contents {
    width: 550px;
    height: 25px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}

.restname {
    color: greenyellow;
    font-family: Verdana;
    text-align: center;
    position: relative;
    font-size: 300%;
    top: -50px;
}


.lines {
    color: white;
    font-family: Verdana;
    text-align: center;
    position: relative;
    font-size: 130%;
    top: -100px;
}

.image1 {
    position: relative;
    top: -90px;
    left: 500px;
    right: 250px;
    background-size:contain;
}



.copyrights{
    width: 1510px;
    height: 20px;
    background-color: pink;
    text-align: center;
    top: -50px;
    left: -20px;
    position: relative;
}

